# 第6章 数据载入，存储及文件格式

## 6.1 文本格式数据的读写

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex1.csv')

In [11]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex1.csv',header = None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [14]:
pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex1.csv',names =['a','b','c','d','message'])

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [15]:
names = ['a','b','c', 'd', 'message']

In [16]:
pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [23]:
parsed = pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\csv_mindex.csv')

In [24]:
parsed

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [25]:
list(open('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [26]:
result = pd.read_table('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex3.txt', sep='\s+')

D:\Software\Python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [27]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [28]:
pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [33]:
result = pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex5.csv')

In [34]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [35]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [37]:
result = pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex5.csv', na_values=['NULL'])

In [38]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [39]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}

In [40]:
pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### 6.1.1 分块读入文本文件

In [41]:
pd.options.display.max_rows = 10

In [42]:
result = pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples/ex6.csv')

In [43]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [44]:
pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [50]:
chunker=pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex6.csv', chunksize = 1000)

In [51]:
chunker

In [52]:
chunker = pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex6.csv', chunksize=1000)

In [53]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
tot = tot.sort_values(ascending=False)

In [54]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

### 6.1.2 将数据写入文本格式

In [55]:
data = pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex5.csv')

In [56]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [57]:
data.to_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\out.csv')

In [58]:
 import sys

In [59]:
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [60]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [61]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [62]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [63]:
 dates = pd.date_range('1/1/2000', periods=7)

In [65]:
import numpy as np

In [66]:
ts = pd.Series(np.arange(7), index=dates)

### 6.1.3 使用分隔格式

In [71]:
import csv

In [72]:
f = open('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex7.csv')

In [73]:
reader = csv.reader(f)

In [84]:
with open('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex7.csv') as f:
    lines = list(csv.reader(f))

In [85]:
header, values = lines[0], lines[1:]

In [86]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [87]:
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [91]:
with open('mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

### 6.1.4 JSON数据

In [93]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
              {"name": "Katie", "age": 38,
               "pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [94]:
import json

In [95]:
result = json.loads(obj)

In [96]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [97]:
asjson = json.dumps(result)

In [98]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])

In [99]:
siblings

    name  age
0  Scott   30
1  Katie   38

In [100]:
data = pd.read_json('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\example.json')

In [101]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [102]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [103]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### 6.1.5 XML和HTML：网络抓取

In [106]:
tables = pd.read_html('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\fdic_failed_bank_list.html')

ValueError: No tables found

In [105]:
len(tables)

NameError: name 'tables' is not defined

## 6.2 二进制格式

In [107]:
frame = pd.read_csv('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex1.csv')

In [108]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [111]:
pd.read_pickle('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\frame_pickle')

OSError: [Errno 22] Invalid argument: 'D:\\python\\Task\\Data Analysis\\pydata-book-2nd-edition\\examples\x0crame_pickle'

### 6.2.1 使用HDF5格式

In [112]:
frame = pd.DataFrame({'a': np.random.randn(100)})

### 6.2.2 读取Excel文件

In [115]:
xlsx = pd.ExcelFile('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex1.xlsx')

In [116]:
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [117]:
frame = pd.read_excel('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex1.xlsx', 'Sheet1')

In [118]:
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [119]:
writer = pd.ExcelWriter('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex2.xlsx')

In [120]:
frame.to_excel(writer, 'Sheet1')

In [121]:
 writer.save()

In [122]:
frame.to_excel('D:\python\Task\Data Analysis\pydata-book-2nd-edition\examples\ex2.xlsx')

## 6.3 与Web API交互

# 6.4 与数据库交互

In [126]:
import sqlite3

In [128]:
query = """
    CREATE TABLE test
    (a VARCHAR(20), b VARCHAR(20),
     c REAL, d INTEGER
      );"""

In [129]:
con = sqlite3.connect('mydata.sqlite')

In [130]:
con.execute(query)

In [131]:
con.commit()

In [132]:
data = [('Atlanta', 'Georgia', 1.25, 6),
     ('Tallahassee', 'Florida', 2.6, 3),
     ('Sacramento', 'California', 1.7, 5)]

In [133]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [134]:
con.executemany(stmt, data)

In [135]:
con.commit()

In [136]:
cursor = con.execute('select * from test')

In [137]:
rows = cursor.fetchall()

In [138]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [139]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [140]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [141]:
import sqlalchemy as sqla

In [142]:
 db = sqla.create_engine('sqlite:///mydata.sqlite')

In [143]:
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5